/* unvisited link */
p, small {
    color: #000 !important;
}

a, a:link {
    color: #000 !important;
}

/* visited link */
a:visited {
    color: #000 !important;
}

/* mouse over link */
a:hover {
    color: #000 !important;
}

/* selected link */
a:active {
    color: #000 !important;
}
button.btn-sm {
    padding:0.15rem 0.5rem !important;
}

.list-group-item {
    background: rgba(255, 255, 255, 0.7) !important;
}
